.heading {
          text-align: center;
          padding: 24px;
          background-color: #d64161;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          color: #fff;
}

