* {
          padding: 0;
          margin: 0;
}

.heading {
          text-align: center;
          padding: 24px;
          background-color: #d64161;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          color: #fff;
}

.subheading {
          margin: auto;
          width: 50%;
          border: 3px solid #73AD21;
          padding: 20px;
          font-size: 25px;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          color: #656565;
}