* {
          padding: 0;
          margin: 0;
}



.subheading {
          margin: auto;
          width: 50%;
          border: 3px solid #73AD21;
          padding: 20px;
          font-size: 25px;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          color: #656565;
}
.chart {
          margin: auto;
          width: 40%;
          padding: 34px;
}

.footer {
          text-align: center;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          padding: 20px;
          color: grey;
}